$av-margin-gutters-size-small: 16px;
$av-margin-gutters-size-large: 24px;

@media screen and (min-width: 0px) and (max-width: 599px) {
    .av-responsive-container {
        margin: $av-margin-gutters-size-small;
    }
}

@media screen and (min-width: 720px) and (max-width: 1919px) {
    .av-responsive-container {
        margin: $av-margin-gutters-size-large;
    }
}

@media screen and (min-width: 1920px) {
    .av-responsive-container {
        margin: $av-margin-gutters-size-large;
    }

    .av-responsive-container > div.av-responsive-column {
        margin-left: $av-margin-gutters-size-large;
        margin-top: $av-margin-gutters-size-large;
    }
}