@mixin clearfix {
    &:after {
        content: ' ';
        display: block;
        height: 0;
		width: 0;
        clear: both;
        visibility: hidden;
    }
}

@mixin not-selectable {
    & {
        -moz-user-select: none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
