$color-0: #000;
$color-1: #111;
$color-2: #222;
$color-3: #333;
$color-4: #444;
$color-5: #555;
$color-6: #666;
$color-7: #777;
$color-8: #888;
$color-9: #999;
$color-a: #aaa;
$color-b: #bbb;
$color-c: #ccc;
$color-d: #ddd;
$color-e: #eee;
$color-f: #fff;

$color-primary: #00685b;
$color-primary-light: #439688;
$color-primary-dark: #003d32;
$color-primary-text: #ffffff;

*.none-select {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * The default transition, used when the element is visible
 * since the beginning of the animation
 * ---
 * @access private
 * @type transition
 * @group transition
 */

 $av-transition-default-timing: cubic-bezier(.4, 0, .2, 1);
 $av-transition-default-duration: .4s;
 $av-transition-default: $av-transition-default-duration $av-transition-default-timing;
 
 
 /**
  * The enter transition, used when the element is not visible on the screen
  * since the beginning of the animation and become visible
  * ---
  * @access private
  * @type transition
  * @group transition
  */
 
 $av-transition-enter-timing: cubic-bezier(0, 0, .2, 1);
 $av-transition-enter-duration: .4s;
 $av-transition-enter: $av-transition-enter-duration $av-transition-enter-timing;
 
 
 /**
  * The leave transition, used when the element is visible on the screen
  * since the beginning of the animation and is removed
  * ---
  * @access private
  * @type transition
  * @group transition
  */
 
 $av-transition-leave-timing: cubic-bezier(.4, .0, 1, 1);
 $av-transition-leave-duration: .4s;
 $av-transition-leave: $av-transition-leave-duration $av-transition-leave-timing;
 
 
 /**
  * The stand transition, used when the element is going to accelerate,
  * like movements from bottom to top
  * ---
  * @access private
  * @type transition
  * @group transition
  */
 
 $av-transition-stand-timing: cubic-bezier(.25, .8, .25, 1);
 $av-transition-stand-duration: .4s;
 $av-transition-stand: $av-transition-stand-duration $av-transition-stand-timing;
 
 
 /**
  * The out transition, used when the element is going to deaccelerate,
  * like movements from top to bottom
  * ---
  * @access private
  * @type transition
  * @group transition
  */
 
 $av-transition-drop-timing: cubic-bezier(.55, 0, .55, .2);
 $av-transition-drop-duration: .4s;
 $av-transition-drop: $av-transition-drop-duration $av-transition-drop-timing;
 